body {font-family: Arial, sans-serif; background: #ddeefc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;}
form {border: 4px solid #f1f1f1;}

input[type=text], input[type=password] {
	width: 60%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=button]{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
}
input[type=button]:hover{
	background: linear-gradient(#4CAF50 5%, #00ff00 100%);
}
input[type=buttonreg]{
	background-color: #943E2C;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 50%;
}
input[type=buttonreg]:hover{
	background: linear-gradient(#943E2C 5%, #D5644C 100%);
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.user {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.password {
  float: right;
  padding-top: 16px;
}
#more {display: none;}